<style>
  .item {
    height: 150px;
    width: 100%;
    border: 1px solid green;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div style="display: flex;">
  <div cdkDropList
    [cdkDropListData]="numbers"
    [cdkDropListConnectedTo]="otherList"
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)" style="width: 25%; border: 1px solid red;">
    <div cdkDrag *ngFor="let number of numbers" class="item">
      {{number}}
    </div>
  </div>

  <div cdkDropList
    [cdkDropListData]="otherNumbers"
    [cdkDropListConnectedTo]="firstList"
    #otherList="cdkDropList"
    (cdkDropListDropped)="drop($event)" style="width: 25%; border: 1px solid blue;">
    <div cdkDrag *ngFor="let number of otherNumbers" class="item">
      {{number}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
